NewService2/eureka-client/src/main/resources/schemas/genocide.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://itmo.edu/soa/genocide"
        xmlns="http://itmo.edu/soa/genocide"
        elementFormDefault="qualified">

    <xs:simpleType name="Government">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIARCHY"/>
            <xs:enumeration value="KRITARCHY"/>
            <xs:enumeration value="REPUBLIC"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Human">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="age" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Coordinates">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="x" type="xs:double"/>
            <xs:element name="y" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="City">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="coordinates" type="Coordinates"/>
            <xs:element name="creationDate" type="xs:dateTime"/>
            <xs:element name="area" type="xs:int" minOccurs="0"/>
            <xs:element name="population" type="xs:long"/>
            <xs:element name="metersAboveSeaLevel" type="xs:int" minOccurs="0"/>
            <xs:element name="establishmentDate" type="xs:dateTime"/>
            <xs:element name="populationDensity" type="xs:float" minOccurs="0"/>
            <xs:element name="government" type="Government" minOccurs="0"/>
            <xs:element name="governor" type="Human" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="GetCityRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetCityResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="city" type="City"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CountPopulationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id1" type="xs:int"/>
                <xs:element name="id2" type="xs:int"/>
                <xs:element name="id3" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CountPopulationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="totalPopulation" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="MoveToPoorestRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sourceCityId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="MoveToPoorestResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sourceCity" type="City"/>
                <xs:element name="targetCity" type="City"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
